:root {
    --very-small: 0.5rem;
    --small: 0.75rem;
    --medium: 1rem;
    --large: 1.25rem;
    --very-large: 1.5rem;
    --light-blue: #008fbf;
}

body {
    min-height: 100vh;
    width: 100vw;
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: var(--light-blue);
    color: white;
    font-size: var(--large);
}


.header {
    grid-area: 1 / 2 / 2 / -1;
}

.main-content {
    grid-area: 2 / 2 / -1 / -1;
}

.header-button {
    border-radius: 12px;
    padding: 1em 2em;
    background-color: var(--light-blue);
    color: white;
    font-size: var(--medium);
}

input[type="search"] {
    border-radius: 8px;
}