:root {
    --very-small: 0.5rem;
    --small: 0.75rem;
    --medium: 1rem;
    --large: 1.25rem;
    --very-large: 1.5rem;
    --max: 2rem;
    --light-blue: #008fbf;
    --light-gray: #efeff8;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--light-blue);
    color: white;
    font-size: var(--large);
    font-weight: 800;
    padding: 1em;
    
    display: grid;
    grid-template-rows: max-content max-content max-content;
    gap: 2em;
}

.sidebar > :first-child {
    font-size: var(--max);
}

.sidebar * {
    margin-bottom: 1em;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 2em;
}

.header-top {
    display: grid;
    grid-template-columns: [search] 6fr [bell] minmax(50px, 150px) [account] minmax(100px, 200px) [final];
    align-items: center;
    justify-items: center;
}

.header-top > img {
    grid-column: bell;
    justify-self: end;
}

.header-top-account {
    grid-column: account / final;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1em;
}

.header-top-account > img {
    width: 45px;
    height: 45px;
}

.profile {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.header-search {
    grid-column: search / bell;
    display: grid;
    align-items: center;
    justify-self: stretch;
    grid-template-columns: 45px 1fr;
}

.header-search > input {
    border-radius: 16px;
    border: none;
    background-color: var(--light-gray);
    height: 2em;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting {
    display: grid;
    gap: 5%;
    grid-template-columns: max-content 1fr;
    justify-content: start;
    align-items: center;
}

.small-greeting {
    font-size: var(--small);
}

.large-greeting {
    font-size: var(--large);
}

.header-buttons {
    display: grid;
    align-items: center;
    justify-content: end;
    grid-auto-flow: column;
    gap: clamp(4px, 5%, 12px);
}

.header-button {
    border-radius: 25px;
    padding: 0.5em 2em;
    background-color: var(--light-blue);
    color: white;
    font-size: var(--medium);
}

.main-content {
    grid-area: main;
    background: var(--light-gray);
}