:root {
    --very-small: 0.5rem;
    --small: 0.75rem;
    --medium: 1rem;
    --large: 1.25rem;
    --very-large: 1.5rem;
    --max: 2rem;
    --light-blue: #008fbf;
    --light-gray: #efeff8;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--light-blue);
    color: white;
    font-size: var(--large);
    font-weight: 800;
    padding: 1em;
    
    display: grid;
    grid-template-rows: max-content max-content max-content;
    gap: 2em;
}

.sidebar > :first-child {
    font-size: var(--max);
}

.sidebar * {
    margin-bottom: 1em;
}

.header {
    grid-area: header;
}

.main-content {
    grid-area: main;
    background: var(--light-gray);
}

.header-button {
    border-radius: 12px;
    padding: 1em 2em;
    background-color: var(--light-blue);
    color: white;
    font-size: var(--medium);
}

input[type="search"] {
    border-radius: 8px;
}